@import './variables.scss';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: 'var(--color-background)';
  overflow-x: hidden;
}