@import './variables.scss';
@import './breakpoints';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: 'var(--color-background)';
  overflow-x: hidden;
}

.app {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: var(--space-100);

  @media (max-width: map-get($grid-breakpoints, lg)) {
    gap: var(--space-70);
  }
}