:root {
  //spacing (margin/padding)
  --space-100: 100px;
//   --space-32: 32px;
  --space-20: 20px;
//   --space-16: 16px;
//   --space-12: 12px;
//   --space-6: 6px;

  //border radius
//   --radius-12: 12px;
//   --radius-6: 6px;

  //shadows
//   --shadow-1: 0px 4px 16px rgba(0, 0, 0, .1);

  //font family
  --font-stack: "Inter", -apple-system, 
  BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, 
  Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;

  //font sizes
//   --text-xxs: 14px;
//   --text-xs: 16px;
//   --text-sm: 18px;
//   --text-md: 20px;
//   --text-lg: 24px;
//   --text-xl: 30px;
//   --text-xxl: 36px;

  //colors
  --color-primary-light: #6DF9FB;
  --color-primary-dark: rgb(207, 113, 250);
  --color-background: #091023;
  --color-white: #E2F8FF;
}