@import '../../styles/breakpoints';

.stats {
    &__section {
        position: relative;
        width: 100%;
        background-color: var(--color-background);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 16px;
    }

    &__title {
        color: var(--color-white);
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 32px;
    }

    &__content {
        display: flex;
        justify-content: center;
        gap: 70px;
        position: relative;
        z-index: 2;
        width: 100%;
        padding: 32px 16px;
        text-align: center;

        @media (max-width: map-get($grid-breakpoints, lg)) {
            justify-content: space-between;
        }

        @media (max-width: map-get($grid-breakpoints, md)) {
            gap: 24px;
            flex-wrap: wrap;
        }
    }
}